@{
    ViewBag.ParentId = @ViewBag.Id + "Parent";
    ViewBag.LabelId = @ViewBag.Id + "Label";
}
<div id="@ViewBag.ParentId" class="form-group row mb-1">
    <label for="@ViewBag.Id" id="@ViewBag.LabelId" class="col-4 col-form-label">@ViewBag.Label</label>
    <div class="col-8">
        <select class="form-control" id="@ViewBag.Id" onchange="@ViewBag.OnChange"></select>
    </div>
</div>

