@{
    ViewBag.ParentId = @ViewBag.Id + "Parent";
    ViewBag.LabelId = @ViewBag.Id + "Label";
}
<div id="@ViewBag.ParentId" class="form-group row mb-1">
    <select class="form-control" title="@ViewBag.Label" id="@ViewBag.Id" onchange="@ViewBag.OnChange"></select>
</div>

