@{
    ViewBag.IntroReportId = @ViewBag.Pattern + "IntroReportId";
    ViewBag.IntroCardId = @ViewBag.Pattern + "IntroCardId";
    ViewBag.IntroCardBodyId = @ViewBag.Pattern + "IntroCardBodyId";
    ViewBag.IntroRowId = @ViewBag.Pattern + "IntroRowId";
    ViewBag.IntroRow0Id = @ViewBag.Pattern + "IntroRow0Id";
    ViewBag.IntroRow1Id = @ViewBag.Pattern + "IntroRow1Id";
    ViewBag.IntroRow2Id = @ViewBag.Pattern + "IntroRow2Id";
    ViewBag.IntroRow2Id = @ViewBag.Pattern + "IntroRow2Id";

    ViewBag.IntroImageId = @ViewBag.Pattern + "IntroImageId";
    ViewBag.IntroIconValue = @ViewBag.IntroIcon + " tb-noti-cl ";
}



<div id="@ViewBag.IntroReportId" class="row mb-3 intro-report-cl">



    <div class="col-md-12 intro-container">
        <div id="@ViewBag.IntroCardId" class="card intro-card rounded" style="border: 1px solid @ViewBag.IntroColor">
            <div id="@ViewBag.IntroCardBodyId" class="card-body intro-card-body ">

                <div class="row">
                    <div class="col-2">
                        <a href="@ViewBag.IntroHref" target="_blank" class="icon-stack icon-stack-lg bg-yellow-soft text-yellow mb-2">
                            <span class="@ViewBag.IntroIconValue" style="color:@ViewBag.IntroColor"></span>
                        </a>
                    </div>
                    <div class="col-10">
                        <h4 class="mod-tl-cl" style="color:@ViewBag.IntroColor">@ViewBag.IntroTitle</h4>
                    </div>
                </div>





                <div id="@ViewBag.IntroRow0Id" class="intro-img-container" style="display:@ViewBag.IntroImgDisplay">
                    <img id="@ViewBag.IntroImageId" src="~/Images/Background/@ViewBag.ImageName">
                </div>

                <div id="@ViewBag.IntroRow1Id" class="intro-desc-container">

                    @*<h4 class="mod-tl-cl">@ViewBag.IntroTitle</h4>*@
                    <p class="intro-description">@ViewBag.Description</p>







                    <div class="row">
                        <div class="col-2" style="padding-right: 5px;">
                            <span class="intro-progress-cl">@ViewBag.IntroProgressValue</span>
                        </div>
                        <div class="col-10" style="margin-top:10px;padding-left: 0px;">
                            <div style="display: flex; height: 0.5rem;background-color: #f8f9fA;">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @ViewBag.IntroProgressValue;background-color: @ViewBag.IntroColor" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col">
                            <span class="tb-acc-span-cl">
                                <img class="tb-acc-img-cl" src="/Images/Profil/@ViewBag.IntroManager">
                            </span>
                        </div>
                        <div class="col">
                            @*<a class="mod-href-cl" href="@ViewBag.IntroHref" target="_blank">En savoir plus ></a>*@
                            <div class="text-left">
                                <button type="button" class="btn-cl gc-bc1-cl" href="@ViewBag.IntroHref" target="_blank" style="margin-top: 8px;border-color: @ViewBag.IntroColor;" onClick="window.open('@ViewBag.IntroHref');">
                                    @*<span class="fas fa-eye btn-icon-m-cl"  style="color: @ViewBag.IntroColor;"></span>*@
                                    <div class="btn-txt-cl" style="color: @ViewBag.IntroColor;">Découvrir >></div>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>

                <div id="@ViewBag.IntroRow2Id"></div>
                <div id="@ViewBag.IntroRow3Id"></div>
            </div>
        </div>
    </div>
</div>

