@{
    ViewBag.ParentId = @ViewBag.Id + "Parent";
}
<div id="@ViewBag.ParentId" class="form-group row mb-1">
    @*<label for="@ViewBag.Id" class="col-4 col-form-label">@ViewBag.Label</label>*@
    @*<div class="col-8">*@
        <input id="@ViewBag.Id" class="form-control text-right" type="number" min="0" onchange="@ViewBag.OnChange" placeholder="@ViewBag.Label" style="height: 32px; margin-left: 20px; margin-right: 20px; width: 140px; background-color: white;" >
    @*</div>*@
</div>
