@{
    ViewBag.ParentId = @ViewBag.Id + "Parent";
    ViewBag.LabelId = @ViewBag.Id + "Label";
}
@*<div id="@ViewBag.ParentId" class="form-group row mb-1">
        <label for="@ViewBag.Id" class="col-2 col-form-label">@ViewBag.Label</label>
        <div class="col-sm-6">
            <input class="form-control" type="@ViewBag.Type" id="@ViewBag.Id">
        </div>
    </div>*@


<div id="@ViewBag.ParentId" class="form-group row mb-1">
    <div class="col-4">
        <input class="form-control" type="@ViewBag.Type" id="@ViewBag.Id" style="height: 40px; background-color: white;" title="@ViewBag.Label">
    </div>
    <label for="@ViewBag.Id" id="@ViewBag.LabelId" class="col-8 col-form-label">@ViewBag.Label</label>
</div>





