@{
    //Page100
    ViewBag.Pattern = "Page10" + @ViewBag.PatternIndex;
    ViewBag.PageReportId100 = @ViewBag.Pattern + "_PageReportId";
    ViewBag.PageCardId100 = @ViewBag.Pattern + "_PageCardId";
    ViewBag.PageRowId100 = @ViewBag.Pattern + "_PageRowId";
    ViewBag.PageCol0Id100 = @ViewBag.Pattern + "_PageCol0Id";
    ViewBag.PageCol1Id100 = @ViewBag.Pattern + "_PageCol1Id";
    ViewBag.PageCol2Id100 = @ViewBag.Pattern + "_PageCol2Id";
    ViewBag.PageCol3Id100 = @ViewBag.Pattern + "_PageCol3Id";

    ViewBag.Pattern = "Grid100" + @ViewBag.PatternIndex;
    ViewBag.GridReportId100 = @ViewBag.Pattern + "_GridReportId";
    ViewBag.GridZoomBtnId100 = @ViewBag.Pattern + "_GridZoomBtnId";
    ViewBag.GridCardId100 = @ViewBag.Pattern + "_GridCardId";
    ViewBag.GridCardBodyId100 = @ViewBag.Pattern + "_GridCardBodyId";
    ViewBag.GridRowId100 = @ViewBag.Pattern + "_GridRowId";
    ViewBag.GridCol0Id100 = @ViewBag.Pattern + "_GridCol0Id";
    ViewBag.GridCol1Id100 = @ViewBag.Pattern + "_GridCol1Id";
    ViewBag.GridCol2Id100 = @ViewBag.Pattern + "_GridCol2Id";

    ViewBag.Pattern = "RepoNrSiteDay" + @ViewBag.PatternIndex;
    ViewBag.TableReportId1001 = @ViewBag.Pattern + "TableReportId";
    ViewBag.TableId1001 = @ViewBag.Pattern + "TableId";
    ViewBag.TableCardId1001 = @ViewBag.Pattern + "TableCardId";
    ViewBag.TableCardHeaderId1001 = @ViewBag.Pattern + "TableCardHeaderId";
    ViewBag.TableTitleI1001 = @ViewBag.Pattern + "TableTitleId";

    ViewBag.Pattern = "Grid101" + @ViewBag.PatternIndex;
    ViewBag.GridReportId101 = @ViewBag.Pattern + "_GridReportId";
    ViewBag.GridZoomBtnId101 = @ViewBag.Pattern + "_GridZoomBtnId";
    ViewBag.GridCardId101 = @ViewBag.Pattern + "_GridCardId";
    ViewBag.GridCardBodyId101 = @ViewBag.Pattern + "_GridCardBodyId";
    ViewBag.GridRowId101 = @ViewBag.Pattern + "_GridRowId";
    ViewBag.GridCol0Id101 = @ViewBag.Pattern + "_GridCol0Id";
    ViewBag.GridCol1Id101 = @ViewBag.Pattern + "_GridCol1Id";
    ViewBag.GridCol2Id101 = @ViewBag.Pattern + "_GridCol2Id";

    ViewBag.Pattern = "RepoNrSiteDayTotalBar" + @ViewBag.PatternIndex;
    ViewBag.ChartReportId1011 = @ViewBag.Pattern + "ChartReportId";
    ViewBag.ChartCardId1011 = @ViewBag.Pattern + "ChartCardId";
    ViewBag.ChartId1011 = @ViewBag.Pattern + "ChartId";
    ViewBag.ChartRowId1011 = @ViewBag.Pattern + "ChartRowId";
    ViewBag.ChartCol0Id1011 = @ViewBag.Pattern + "ChartCol0Id";
    ViewBag.ChartCol1Id1011 = @ViewBag.Pattern + "ChartCol1Id";
    ViewBag.CanevasId1011 = @ViewBag.Pattern + "CanevasId";

    ViewBag.Pattern = "Grid102" + @ViewBag.PatternIndex;
    ViewBag.GridReportId102 = @ViewBag.Pattern + "_GridReportId";
    ViewBag.GridZoomBtnId102 = @ViewBag.Pattern + "_GridZoomBtnId";
    ViewBag.GridCardId102 = @ViewBag.Pattern + "_GridCardId";
    ViewBag.GridCardBodyId102 = @ViewBag.Pattern + "_GridCardBodyId";
    ViewBag.GridRowId102 = @ViewBag.Pattern + "_GridRowId";
    ViewBag.GridCol0Id102 = @ViewBag.Pattern + "_GridCol0Id";
    ViewBag.GridCol1Id102 = @ViewBag.Pattern + "_GridCol1Id";
    ViewBag.GridCol2Id102 = @ViewBag.Pattern + "_GridCol2Id";

    ViewBag.Pattern = "RepoNrSiteDayMpTotalBarH" + @ViewBag.PatternIndex;
    ViewBag.ChartReportId1020 = @ViewBag.Pattern + "ChartReportId";
    ViewBag.ChartCardId1020 = @ViewBag.Pattern + "ChartCardId";
    ViewBag.ChartId1020 = @ViewBag.Pattern + "ChartId";
    ViewBag.ChartRowId1020 = @ViewBag.Pattern + "ChartRowId";
    ViewBag.ChartCol0Id1020 = @ViewBag.Pattern + "ChartCol0Id";
    ViewBag.ChartCol1Id1020 = @ViewBag.Pattern + "ChartCol1Id";
    ViewBag.CanevasId1020 = @ViewBag.Pattern + "CanevasId";

    ViewBag.Pattern = "RepoNrSiteDayClTotalBarH" + @ViewBag.PatternIndex;
    ViewBag.ChartReportId1021 = @ViewBag.Pattern + "ChartReportId";
    ViewBag.ChartCardId1021 = @ViewBag.Pattern + "ChartCardId";
    ViewBag.ChartId1021 = @ViewBag.Pattern + "ChartId";
    ViewBag.ChartRowId1021 = @ViewBag.Pattern + "ChartRowId";
    ViewBag.ChartCol0Id1021 = @ViewBag.Pattern + "ChartCol0Id";
    ViewBag.ChartCol1Id1021 = @ViewBag.Pattern + "ChartCol1Id";
    ViewBag.CanevasId1021 = @ViewBag.Pattern + "CanevasId";

    }

    <div id="@ViewBag.PageReportId100" class="row mb-3">
        <div class="col-md-12">
            <div id="@ViewBag.PageCardId100" class="card">
                <div class="card-body">
                    <div id="@ViewBag.PageRowId100">


                        <div id="@ViewBag.PageCol0Id100">

                            <div id="@ViewBag.GridReportId100" class="row mb-3">
                                <div class="col-md-12">
                                    <div id="@ViewBag.GridCardId100" class="card">
                                        <div id="@ViewBag.GridCardBodyId100" class="card-body">
                                            <div id="@ViewBag.GridRowId100" class="row">
                                                <div id="@ViewBag.GridCol0Id100" class="col"></div>

                                                <div id="@ViewBag.GridCol1Id100" class="col">

                                                    <div id="@ViewBag.TableReportId1001" class="row mb-3">
                                                        <div class="col-md-12">
                                                            <div id="@ViewBag.TableCardId1001" class="card">
                                                                <div id="@ViewBag.TableCardHeaderId1001" class="card-header">
                                                                    <h5>@ViewBag.TableTitle1001</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <span class="counter pull-right"></span>
                                                                    <div class="table-responsive">
                                                                        <table id="@ViewBag.TableId1001" class="display responsive nowrap" cellspacing="0" style="width:100%">

                                                                            <thead>
                                                                                <tr>
                                                                                    <th>CEX</th>
                                                                                    <th>Site</th>
                                                                                    <th>Date</th>

                                                                                    <th>Recette 2020</th>
                                                                                    <th></th>

                                                                                    <th>Espèce</th>
                                                                                    <th>Jawaz</th>
                                                                                    <th>Carte Abonnement</th>
                                                                                    <th>Carte Pétrolière</th>
                                                                                    <th>Carte Fréquence</th>
                                                                                    <th>Autres</th>

                                                                                    <th>VL</th>
                                                                                    <th>PL1</th>
                                                                                    <th>PL2</th>

                                                                                    <th>Recette 2019</th>
                                                                                    <th></th>

                                                                                    <th>Evo. absolue</th>
                                                                                    <th>Evo. relative</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody></tbody>
                                                                            <tfoot>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>

                                                                                    <th></th>
                                                                                    <th></th>

                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>

                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>

                                                                                    <th></th>
                                                                                    <th></th>

                                                                                    <th></th>
                                                                                    <th></th>
                                                                                </tr>
                                                                            </tfoot>


                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div id="@ViewBag.GridCol2Id100" class="col"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div id="@ViewBag.PageCol1Id100">

                            <div id="@ViewBag.GridReportId101" class="row mb-3">
                                <div class="col-md-12">
                                    <div id="@ViewBag.GridCardId101" class="card">
                                        <div id="@ViewBag.GridCardBodyId101" class="card-body">
                                            <div id="@ViewBag.GridRowId101" class="row">
                                                <div id="@ViewBag.GridCol0Id101" class="col"></div>

                                                <div id="@ViewBag.GridCol1Id101" class="col">

                                                    <div id="@ViewBag.ChartReportId1011" class="row mb-3">
                                                        <div class="col-md-12">
                                                            <div id="@ViewBag.ChartCardId1011" class="card">
                                                                <div id="@ViewBag.ChartId1011" class="card-body" style="padding:0.01rem;">

                                                                    <div class="chart-area">
                                                                        <canvas id="@ViewBag.CanevasId1011" width="800" height="220"></canvas>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div id="@ViewBag.GridCol2Id101" class="col"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="@ViewBag.PageCol2Id100">
                            <div id="@ViewBag.GridReportId102" class="row mb-3">
                                <div class="col-md-12">
                                    <div id="@ViewBag.GridCardId102" class="card">
                                        <div id="@ViewBag.GridCardBodyId102" class="card-body">
                                            <div id="@ViewBag.GridRowId102" class="row">

                                                <div id="@ViewBag.GridCol0Id102" class="col">

                                                    <div id="@ViewBag.ChartReportId1020" class="row mb-3">
                                                        <div class="col-md-12">
                                                            <div id="@ViewBag.ChartCardId1020" class="card">
                                                                <div id="@ViewBag.ChartId1020" class="card-body" style="padding:0.01rem;">
                                                                    <div class="chart-area">
                                                                        <canvas id="@ViewBag.CanevasId1020" style="height:120px;"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div id="@ViewBag.GridCol1Id102" class="col">

                                                    <div id="@ViewBag.ChartReportId1021" class="row mb-3">
                                                        <div class="col-md-12">
                                                            <div id="@ViewBag.ChartCardId1021" class="card">
                                                                <div id="@ViewBag.ChartId1021" class="card-body" style="padding:0.01rem;">
                                                                    <div class="chart-area">
                                                                        <canvas id="@ViewBag.CanevasId1021" style="height:120px;"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div id="@ViewBag.GridCol2Id102" class="col"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>


   





