@{
    ViewBag.ParentId = @ViewBag.Id + "Parent";
}
<div id="@ViewBag.ParentId" class="form-group row mb-1">
    <textarea title="@ViewBag.Label" class="form-control" id="@ViewBag.Id" style="width: 500px;" placeholder="@ViewBag.Label"></textarea>
</div>

