@{
    ViewBag.IntroReportId = @ViewBag.Pattern + "IntroReportId";
    ViewBag.IntroCardId = @ViewBag.Pattern + "IntroCardId";
    ViewBag.IntroCardBodyId = @ViewBag.Pattern + "IntroCardBodyId";
    ViewBag.IntroRowId = @ViewBag.Pattern + "IntroRowId";
    ViewBag.IntroRow0Id = @ViewBag.Pattern + "IntroRow0Id";
    ViewBag.IntroRow1Id = @ViewBag.Pattern + "IntroRow1Id";
    ViewBag.IntroRow2Id = @ViewBag.Pattern + "IntroRow2Id";
    ViewBag.IntroRow2Id = @ViewBag.Pattern + "IntroRow2Id";

    ViewBag.IntroImageId = @ViewBag.Pattern + "IntroImageId";
    ViewBag.IntroIconValue = @ViewBag.IntroIcon + " tb-noti-cl gc-c1-cl";
    ViewBag.IntroTitleId = @ViewBag.Pattern + "-id";
}




<div id="@ViewBag.IntroTitleId" class="section-title aos-init aos-animate" data-aos="fade-up">
    <h2>@ViewBag.IntroTitle</h2>
</div>